.order-card {
    background-color: transparent;
    width: 100%;
    padding-top: 100%;
    position: relative;
    border: 2px solid yellow;

    > .card-body {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        &.row > .card-title {
            margin: auto 0;
            text-align: center;
        }
    }
}
